@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-dark: #020617;
  --color-accent: #00d2ff;
}

body {
  background-color: var(--color-dark);
  color: #fff;
  font-family: var(--font-sans);
  overflow-x: hidden;
}
